:root{
	--size-tab-item: 60px;
	--transation: .5s ease-in;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

.content-main{
	position: fixed;
	width: 100%;
	height: 100%;
}

.screen{
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header{
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.1);
	display: flex;
	flex-direction: row;
	z-index: 10;
}

.header-item{
	position: relative;
	height: 100%;
	width: 100%;
	display: block;
	flex: 1;
}

.header-item-button{
	position: absolute;
	height: var(--size-tab-item);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: darkgreen;
	color: white;
	cursor: pointer;
	transition: var(--transation);
	bottom: 0;
	z-index: 2;
}

.header-item-button:hover, .active{
	background: green;
}

.header-item-button > i{
	margin-right: 15px;
}

.header-footer{
	position: absolute;
	height: var(--size-tab-item);
	width: 100%;
	background: darkcyan;
	bottom: 0;
}

.body{
	position: absolute;
	width: 100%;
	height: calc(100% - var(--size-tab-item) * 2);
	top: var(--size-tab-item);
}

.body-item{
	width: 100%;
	height: 100%;
	position: absolute;
	background: cornflowerblue;
	transition: var(--transation);
}